<div class="page-width">
  <h2>wishlists</h2>
  <div class="wishlist-row">
  </div> 
</div>
<script>
   $(document).ready(function(){
     {% for product in collections.all.products %}
       var wishid = localStorage.getItem("wishid_{{ product.id }}");
       console.log(wishid);
           if(wishid == '{{ product.id }}'){
      var wishlistgrid = `<div class="wishlist-grid" id="wishlist-item-{{ product.id }}">
                            <a href="{{ product.url }}"><img src="{{ product.featured_image | image_url:width:300, height:300 }}" /></a>
                            <h2>{{ product.title }}</h2>
                            <h3>{{ product.price }}</h3>
                            <button class="remove-wishlist" data-product-id="{{ product.id }}">Remove</button>
                          </div>`;
      $('.wishlist-row').append(wishlistgrid);
    }
       {% endfor %}

     
    $('.remove-wishlist').click(function(){
      var productid = $(this).data("product-id");
      localStorage.removeItem("wishid_" + productid);
       $('#wishlist-item-' + productId).remove();
    });
   });
</script>
{% schema %}
  {
    "name": "Wishlists",
    "settings": []
  }
{% endschema %}